/* Navbar */
.nav-scroll {
  border-bottom: var(--card) 2px solid;
}
nav {
  padding: 0.3rem 0;
  position: sticky;
  top: 0;
  backdrop-filter: blur(0.3rem);

  .navbar {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-nav {
    display: flex;
    align-items: center;
    gap: 4rem;

    .logo {
      font-size: var(--text-lg);
      font-weight: 400;
      color: var(--primary);

      span {
        font-weight: 700;
      }
    }

    ul {
      display: flex;
      list-style: none;
      gap: 1rem;
    }
    @media (max-width: 768px) {
      ul {
        display: none;
      }
    }
    a {
      color: var(--primary);
      text-decoration: none;
    }
  }
  .right-nav {
    .secondary-btn {
      margin-right: 0.5rem;
    }
  }
}
