.section-cta {
  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: var(--text-2xl);
    margin-bottom: 0.1rem;
  }
  p {
    font-style: italic;
    font-size: var(--text-md);
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 768px) {
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
