.section-faq {
  .card {
    display: flex;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
    }
  }
  .heading h2 {
    font-size: var(--text-xl);
    color: var(--primary);
    margin-bottom: 1rem;
  }
  .questions {
    border-left: 1px solid var(--primary);
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .question h3 {
    font-size: var(--text-md);
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.3rem;
  }
}
