.terminal {
  width: auto;
  height: 400px;
  background-color: var(--card);
  color: var(--primary);
  font-family: "Courier New", Courier, monospace;
  border-radius: var(--radius);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-box {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  white-space: pre-wrap;
  /* Allows preserving whitespace formatting */
}

.output {
  color: var(--primary);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
}

.input-box input {
  width: 100%;
  background-color: var(--background);
  border: none;
  padding: 10px;
  color: var(--primary);
  font-family: inherit;
  font-size: 14px;
  outline: none;
  border-radius: var(--radius);
}

/* Style for code blocks */
.output .code-block {
  display: block;
  background-color: var(--background);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  font-family: "Courier New", Courier, monospace;
  color: var(--primary);
  font-size: 13px;
  line-height: 1.4;
  white-space: pre;
}

.code-block {
  position: relative;
  margin-top: 20px;
}

.language-bar {
  position: absolute;
  top: -20px;
  left: 0;
  background-color: var(--primary);
  color: var(--background);
  padding: 2px 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 12px;
}

pre {
  background-color: var(--card);
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  margin-top: 20px;
}

code {
  font-family: "Courier New", Courier, monospace;
  color: var(--primary);
}
